/*  
Filename: app.css
Author: Silvana Gjini
StudentID: 301201477
Date: 2-Jun-2022
*/

/* custom css here */
body {
    background-color: #f4f0f0;
    font-family:helvetica-w01-light,helvetica-w02-light,sans-serif
}

.navbar-custom {
    background-color: #bdb2af;  
}
