<div class="container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col-md-3 bg-light">
            <img src="./Assets/images/profilephoto.jpg" class="rounded mx-auto d-block" alt="profile photo">
        </div>
        <div class="col-md-8">
            <h3 style="font-size: 24px;">About Me</h3>
            <h4>Personal Background:</h4>
            <p style="line-height:1.5em; font-size:18px;">For business inquiries and collaborations please contact me
                 below and leave a link to your website or portfolio. 
                 I am looking forward to hearing from you!</p>
            <h4>Professional Background:</h4>
            <p>For business inquiries and collaborations please contact me
                 below and leave a link to your website or portfolio. 
                 I am looking forward to hearing from you!</p>
        </div>
    </div>
</div>