<div class="container">
    <h4 class="title"><%= title %></h4>

    <div class="row">
        <div class="col-md-3 bg-light">
            <img src="./Assets/images/profilephoto.jpg" class="rounded mx-auto d-block" alt="profile photo">
        </div>
        <div class="col-md-8">
            <h4>About Me</h4>
            <h5>Personal Background:</h5>
            <p>For business inquiries and collaborations please contact me
                 below and leave a link to your website or portfolio. 
                 I am looking forward to hearing from you!</p>
            <h5>Professional Background:</h5>
            <p>For business inquiries and collaborations please contact me
                 below and leave a link to your website or portfolio. 
                 I am looking forward to hearing from you!</p>
        </div>
    </div>
</div>