<div class="container">
    <h1><%= title %></h1>
    <div class="row">
        <div class="col-md-3 "></div>
        <div class="col-md-8 bg-light">
            <h3>Contact</h3>
            <div class="row">
 
            <div class="col-md-3 text-center">
                <i class="fas fa-map-marker-alt fa-2x"></i>
                        <p>San Francisco, CA 94126, USA</p>
            </div>

            <div class="col-md-3 text-center">
                
                    <i class="fas fa-phone mt-4 fa-2x"></i>
                        <p>+ 01 234 567 89</p>
            </div>

            <div class="col-md-3 text-center">
                    <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                        <p>contact@mdbootstrap.com</p>

            </div>
        </div>
             

            <!--Section: Contact v.2-->
        <section class="mb-4">

            <!--Section heading-->
            <h3 class="h1-responsive font-weight-bold text-center my-4">Get in Touch</h3>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5">or business inquiries and collaborations please contact me
                below and leave a link to your website or portfolio. 
                I am looking forward to hearing from you!</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-9">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->
            
            </div>

        </section>
        <!--Section: Contact v.2-->     
        </div>
    </div>
</div>