<div class="container">
    <div class="row text-secondary text-center p-2">
        <h2><%= title %></h2>
    </div>    
    <div class="row">
        <div class="col-md-5 text-center">
            <h3 class="h1-responsive font-weight-bold text-center text-secondary my-2">Contact Information</h3>
            <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>647-768-6550</p>
                        </li>
        
                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>sgjini@my.centennialcollege.ca</p>
                        </li>
                        <li><a href="linkedin.com/in/silvana-gjini-48b34a55" target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a> 
                            
                        </li>
                    </ul>
                </div>

                <!--Grid column-->
                <div class="col-md-6 pb-5">
                   
            
                    <p class="w-responsive mx-auto mb-2">or business inquiries and collaborations please contact me
                        below and leave a link to your website or portfolio. 
                        I am looking forward to hearing from you!</p>
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                                <div class="md-form p-2">
                                    <input type="text" id="name" name="name" placeholder="Your name" class="form-control">
                                    
                                </div>
                           
                                <div class="md-form p-2">
                                    <input type="text" id="email" name="email" placeholder="Your email" class="form-control">
                                </div>
                            
                        
                       
                                <div class="md-form p-2">
                                    <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control">
                                    
                                </div>
                          
        
                                <div class="md-form p-2">
                                    <textarea type="text" id="message" name="message" rows="3" placeholder="Your message" class="form-control md-textarea"></textarea>
                                    
                                </div>
                                
                    </form>

                    <div class="text-center text-md-left p-2">
                        <a class="btn btn-secondary" onclick="document.getElementById('contact-form').submit();">Send</a>
                    </div>
                    <div class="status"></div>
                </div>
                <div class="col-md-1"></div>
                <!--Grid column-->

    </div>
</div>