<!--
       Filename: home.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->
<div class="container p-5">
    
<!-- Background image -->
<div
  class="bg-image d-flex p-5 justify-content-center align-items-center"
  style="
    background-image: url('./Assets/images/computer-gd44429522_1920.webp');
    height: 100vh;
  "
>
  <h1 class="text-white">Page title</h1>
</div>
<!-- Background image -->
    
</div>