<!--
       Filename: home.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->
<div class="container-fluid">
    
<!-- Background image -->
<div
  class="bg-image d-flex p-5 justify-content-center align-items-center"
  style="
    background-image: url('./Assets/images/computer-gd44429522_1920.webp');
    height: 100vh;
  "
>
 <!--Grid Row-->
 <div class="row border w-100">
     <!--Grid Column-->
     <div class="col-md-8 border"></div>
     <!--Grid Column-->

     <!--Grid Column-->
     <div class="col-md-4 border bg-light">
         <h5>Hi, my name is Silvana!</h5>
         <p>Welcome to my Portofolio website!</p>
         <a" class="btn btn-secondary" href="contact.ejs" role="button">Get in touch</button>
     </div>
     <!--Grid Column-->



 </div>
 <!--Grid Row-->
</div>
<!-- Background image -->
    
</div>