<!--
       Filename: projects.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->
<div class="container">
    <div class="row text-secondary text-center p-2">
        <h2><%= title %></h2>
    </div>
    <!--Section: Content-->
    <section class="text-center">
        <!-- Background image -->
        <!--Background image provided by https://upaycard.ufp-ks.com/-->
        <div class="bg-image  project-one d-flex justify-content-center align-items-center " style="background-image: url('./Assets/images/project01.JPG'); height: 75vh;">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <!--Grid Row-->
                <div class="row border w-100 h-100">
                    <!--Grid Column-->
                    <div class="col-md-4 border"></div>
                    <!--Grid Column-->

                    <!--Grid Column-->
                    <div class="col-md-4 border p1-content text-secondary">
                        <p class="">Text here .........</p>
                    </div>
                    <!--Grid Column-->

                    <!--Grid Column-->
                    <div class="col-md-4"></div>
                    <!--Grid Column-->


                </div>
                <!--Grid Row-->
             </div>
            </div>
        </div>
        <!-- Background image -->

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">

    </section>
    <!--Section: Content-->
</div>