<!--
       Filename: projects.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->
<div class="container">
    <div class="row text-secondary text-center p-2">
        <h2><%= title %></h2>
    </div>
    <!--Section: Content-->
    <section class="text-center">
        <div class="bg-image  project-one shadow-2-strong"
        style="
        background-image: url('./Assets/images/computer-gd44429522_1920.webp');  
        height: 100vh;    
      ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
        
            <div class="container d-flex align-items-center justify-content-center text-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Learn Bootstrap 5 with MDB</h1>
                    <h5 class="mb-4">Best & free guide of responsive web design</h5>
                    <a class="btn btn-outline-light btn-lg m-2" href="https://www.youtube.com/watch?v=c9B4TPnak1A" role="button"
                      rel="nofollow" target="_blank">Start tutorial</a>
                    <a class="btn btn-outline-light btn-lg m-2" href="https://mdbootstrap.com/docs/standard/" target="_blank"
                      role="button">Download MDB UI KIT</a>
            </div>
        </div>

        </div>

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">

    </section>
    <!--Section: Content-->
</div>