<!--
       Filename: projects.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->
<div class="container">
    <div class="row text-secondary text-center p-2">
        <h2><%= title %></h2>
    </div>
    <!--Section: Content-->
    <section class="text-center">
        <div class="bg-image  project-one">
            <img src="./Assets/images/project01.JPG"  style="height: 100vh;">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.8)">
        
            <div class="d-flex justify-content-center align-items-center h-100">
                <p class="text-white mb-0">Can you see me?</p>
        </div>

        </div>

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">

    </section>
    <!--Section: Content-->
</div>