<!--
       Filename: projects.ejs
       Student Name: Silvana Gjini
       Student ID:301201477
       Date: 2-Jun-2022
   -->
<div class="container">
    <div class="row text-secondary text-center p-2">
        <h2><%= title %></h2>
    </div>
    <!--Section: Content-->
    <section class="text-center">
        <!-- Background image -->
        <!--Background image provided by https://upaycard.ufp-ks.com/-->
        <div class="bg-image  project-one d-flex" style="background-image: url('./Assets/images/project01.JPG'); height: 75vh;">
            <!--Background Mask-->
            <div class="mask w-100 h-100 d-flex justify-content-center align-items-center " style="background-color: rgba(0, 0, 0, 0.6)">
                
                <!--Grid Row-->
                <div class="row w-100">
                    <!--Grid Column-->
                    <div class="col-md-4"></div>
                    <!--Grid Column-->

                    <!--Grid Column Content-->
                    <div class="col-md-4 text-light">
                        <h4>UPay</h4>
                        <h5>Prepaid Mastercard Project</h5>
                        <p class="">Text here .........</p>
                    </div>
                    <!--Grid Column-->

                    <!--Grid Column-->
                    <div class="col-md-4"></div>
                    <!--Grid Column-->

                </div>
                <!--Grid Row-->
             
            </div>
            <!--Background Mask-->
        </div>
        <!-- Background image -->

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
    <!--Section: Content-->
    <section class="text-center">
        <!--Grid Row-->
        <div class="row w-100">
            <div class="col-md-6 gx-5 mb-4">
                <!-- Background image -->
                <div class="bg-image ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src="./Assets/images/project02.JPG" class="img-fluid" />
                </div>
            </div>
            <!-- Background image -->
            
            <div class="col-md-6 gx-5 mb-4">
                <h4><strong>Real estate web page</strong></h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                    eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                    sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                </p>
                <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                    nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                    alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                </p>
            </div>
        </div>
        <!--Grid Row-->
    </section>
    <!--Section: Content-->

    <hr class="my-5" />

    <!--Section: Content-->
    <section class="text-center">
        <!--Grid Row-->
        <div class="row w-100">
            <div class="col-md-6 gx-5 mb-4">
                <!-- Background image -->
                <!--Background image provided by https://e-albania.al/Default.aspx-->
                <div class="bg-image ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
                    <img src="./Assets/images/project03.JPG" class="img-fluid" />
                </div>
            </div>
            <!-- Background image -->
            
            <div class="col-md-6 gx-5 mb-4">
                <h4><strong>Real estate web page</strong></h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur
                    eligendi quisquam doloremque vero ex debitis veritatis placeat unde animi laborum
                    sapiente illo possimus, commodi dignissimos obcaecati illum maiores corporis.
                </p>
                <p><strong>Doloremque vero ex debitis veritatis?</strong></p>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod itaque voluptate
                    nesciunt laborum incidunt. Officia, quam consectetur. Earum eligendi aliquam illum
                    alias, unde optio accusantium soluta, iusto molestiae adipisci et?
                </p>
            </div>
        </div>
        <!--Grid Row-->
        <!-- Background image -->
        <!--Background image provided by https://e-albania.al/Default.aspx-->
        <div class="bg-image  project-three d-flex" style="background-image: url('./Assets/images/project03.JPG'); height: 75vh;">
            <!--Background Mask-->
            <div class="mask w-100 h-100 d-flex justify-content-center align-items-center " style="background-color: rgba(0, 0, 0, 0.6)">
                
                <!--Grid Row-->
                <div class="row w-100">
                    <!--Grid Column-->
                    <div class="col-md-4"></div>
                    <!--Grid Column-->

                    <!--Grid Column Content-->
                    <div class="col-md-4 text-light">
                        <h4>e-Albania</h4>
                        <h5>Electronic portal of the government of Albania</h5>
                        <p class="">Text here .........</p>
                    </div>
                    <!--Grid Column-->

                    <!--Grid Column-->
                    <div class="col-md-4"></div>
                    <!--Grid Column-->

                </div>
                <!--Grid Row-->
             
            </div>
            <!--Background Mask-->
        </div>
        <!-- Background image -->

    </section>
    <!--Section: Content-->
    <hr class="my-5" />
</div>